@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply leading-relaxed;
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    @apply font-serif;
	@apply leading-snug;
}
h1, .h1 {
	@apply md:text-6xl sm:text-5xl text-4xl;
}
h2, .h2 {
	@apply text-5xl;
}
h3, .h3 {
	@apply text-4xl;
}
h4, .h4 {
	@apply text-3xl;
}

@layer utilities {
    .min-w-160 {
        min-width: 160px;
    }
}
.btn {
	@apply h-12 px-4 leading-12 inline-block text-white text-lg bg-black;
}
.btn:hover, .btn:focus {
	@apply  bg-red-600;
}
.content > * {
	margin-bottom: 40px;
}
/* used in mobile menu toggle button */
.mobile-menu-icon {
	@apply w-8 h-5 relative md:hidden cursor-pointer;
}
.line {
    @apply absolute w-full h-0.5 bg-gray-900 transition-all duration-300;
}

.mobile-menu-toggle:checked~.mobile-menu-icon .line:first-child {
	transform: rotate(45deg);
    top: 10px;
}
.mobile-menu-toggle:checked~.mobile-menu-icon .line:nth-child(2) {
	visibility: hidden;
	opacity: 0;
}
.mobile-menu-toggle:checked~.mobile-menu-icon .line:nth-child(3) {
	transform: rotate(-45deg);
    top: 14px;
}
.mobile-menu-toggle:checked~.main-nav {
	@apply left-0 transition-transform duration-300 translate-x-0;
}

/* submenu icon */
.sub-menu-icon {
	@apply absolute top-0 right-0 w-10 h-10 md:w-auto md:h-auto flex items-center justify-center bg-gray-100 cursor-pointer;
	@apply md:relative md:inline md:bg-transparent md:ml-2;
}
.sub-menu-toggle:checked~a .sub-menu-icon svg {
	@apply rotate-180 md:rotate-0;
}
.submenu {
	@apply hidden bg-gray-100 md:bg-white py-1 rounded-t-md;
	@apply md:scale-y-100 md:opacity-0 md:invisible;
	@apply md:group-hover:opacity-100 md:group-hover:visible md:group-focus:opacity-100 md:group-focus:visible;
	@apply md:absolute md:right-0 md:block md:border md:border-solid md:border-gray-200 md:rounded-md md:p-2 md:min-w-160;
}

.sub-menu-toggle:checked~.submenu {
	@apply block;
}