---
title: Error 404
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="max-w-screen-lg xl:max-w-screen-xl mx-auto text-center my-10">
    <div class="font-bold text-4xl sm:text-5xl md:text-6xl lg:text-8xl mb-4">404</div>
    <h1 class="h3 mb-4">Page not found!</h1>
    <p class="mb-8 text-lg">Maybe the URL is incorrect, or the page no longer exist.</p>
    <a class="btn" href="{{ "/" | url }}">Back to home page</a>
</div>