<div class="max-w-2xl justify-between mx-auto">
    {% for post in posts | reverse %}
    <article class="{{ '' if loop.last else 'border-b' }} py-14">
        {# post meta #}
        <div class="mb-6 text-gray-600 uppercase text-sm">
            <time datetime="{{ post.date | htmlDateString }}">{{post.date | readableDate }}</time>
            <span class="mx-1" role="presentation" aria-hidden="true">•</span>
            <span>{{ post | readingTime }} read</span>
            {% set primaryTag = post.data.tags | primaryTag %}
            {% if primaryTag %}
            <span class="mx-1" role="presentation" aria-hidden="true">•</span>
            <a href="/blog/{{primaryTag | slug }}/" class="hover:text-red-500">{{primaryTag}}</a>
            {% endif %}
        </div>
        <h2 class="mb-6">
            <a href="{{post.url}}" class="hover:text-red-500">{{post.data.title}}</a>
        </h2>
        <div class="text-xl prose sm:prose-lg md:prose-xl mb-6">
            {% excerpt post %}
        </div>
        {% set svgClass = "fill-current w-3 h-3 ml-2 inline" %}
        <div><a href="{{post.url}}" class="text-sm uppercase text-red-500 inline-flex items-center">Read more {% svg "arrow-right", svgClass %}</a></div>
    </article>
    {% endfor %}
</div>